extends layout

block append head
    //- style
    //-     include stylesheets/homepage.css
    link(rel='stylesheet' href='/stylesheets/homepage.css')

block content
    div.homepage
        div.logo
            a(href='/home')
        if user
            div.welcome
                p Welcome, #{user.name}!
            div.logout
                a(href="/users/logout" role="button") Logout
        else
            div.logged-out
                a(href="/users/sign-up" role="button") Sign Up
                a(href="/users/login" role="button") Login
        div.games-container
            each game in games
                div.main__game
                    img(src='https://upload.wikimedia.org/wikipedia/en/thumb/5/5c/Halo-_Reach_box_art.png/220px-Halo-_Reach_box_art.png')
                    div= game.name
            //- p Games
            //- div.game1
            //-     p Game row 1
            //- div.game2
            //-     p Game row 2
            //- div.game3
            //-     p Game row 3
            //- div.game4
            //-     p Game row 4
        div.gameshelf
            p Game Shelf
            div.playing
                p Playing shelf
            div.played
                p Played shelf
            div.wishlist
                p Wishlist shelf
