extends layout

block append head
    //- style
    //-     include stylesheets/homepage.css
    link(rel='stylesheet' href='/stylesheets/homepage.css')

block content

    header
        div.header
            p header
        div.main
            p sdfiasdfiaasdf
            p thisd sidf
        div.sidebar
            p sidebar
        if user
            p Welcome, #{user.name}!
            a(href="/users/logout" role="button") Logout
        else
            a(href="/users/sign-up" role="button") Sign Up
            br
            a(href="/users/login" role="button") Login
