block append head
  link(rel='stylesheet' href='/stylesheets/reviews.css')

div.reviews__text
  if user
    form(action='/api/games/' + game.id + '/reviews' method='post')
      label(for='userReview')= user.name
      textarea(name='userReview' placeholder='Leave a review...')
      button(type='submit') Submit Review
