block append head
  link(rel='stylesheet' href='/stylesheets/reviews.css')

div.reviews__text
  if user
    form(id='reviewForm' action='/api/games/' + game.id + '/reviews' method='post')
      input(type='hidden' name='gameId' value=game.id)
      label(for='userReview')= user.name
      textarea(name='userReview' placeholder='Leave a review...')
      button(type='submit') Submit Review

      //- /api/games/' + game.id + '/reviews
