@import 'fonts.css';

body {
  font-family: ROG;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "game-image game-info"
  "game-options game-options"
  "game-reviews game-reviews";
  margin: 0 200px;
}

.game-image {
  grid-area: game-image;
  justify-self: center;
  position: relative;
  height: 100%;
}

.game-image, .game-info {
  margin: 40px 0;
}

.game-info {
  grid-area: game-info;
  font-family: SC;
}

.game-info div {
  margin-bottom: 10px;
}

.game-info span {
  font-weight: bold;
}

.game-info p {
  display: inline;
}

.game-info__name {
  font-weight: bold;
  font-size: 1.2rem;
}

.game-options {
  grid-area: game-options;
}

.game-reviews {
  grid-area: game-reviews;
}

.gameShelf__dropDown {
  display: inline-block;
  position: relative;
}

.gameShelf__dropDown:hover .gameShelf__dropDown-content {
  display: block;
}



.gameShelf__dropDown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
