@font-face {
  font-family: 'ROG';
  src: url('../fonts/batmfa__.ttf');
}

.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas:
    "h1 logo1 logo1 h4"
    "main main main sidebar"
    "footer footer footer footer";
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../images/wp8138620.jpeg');
  background-size: cover;
  font-family: ROG;
}

.welcome {
    grid-area: h1;
    font-size: 25px;
    padding: 0px 0px 0px 15px;
    color: green

}

.main__game {
    display: inline-block;
    margin: auto;
}

.logout {
    grid-area: h4;
    font-size: 25px;
    align-self: start;
    justify-self: end;
    color: green;
    padding: 0px 10px 0px 0px
}

.logo {
    grid-area: logo1;
    /* object-fit: cover; */
    /* padding: 10px 10px; */
    /* max-height: 25px;
    max-width: 20px; */
    background-image: url('../images/console-game-logo.png');
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    margin-left: 10px;

}


.gameshelf {
    grid-area: sidebar;
    color: red;
    justify-self: left;

}


.logged-out a {
    display: flex;
    max-width: 200px;
    grid-area: h1;
    font-size: 25px;
    justify-content: space-around;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: underline white;
    background-color: white;
}

.logged-out a {
    transition: all 0.2s ease-in-out;
}

.logged-out a:hover {
    transform: scale(1.05)

}

.games-container {
    margin: 0 20px;
    display: grid;
    grid-area: main;
    /* border: 1px solid white; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas:
    "header header header"
    "game1 game1 game1"
    "game2 game2 game2"
    "game3 game3 game3"
    "game4 game4 game4";
}

.games-container p {
    grid-area: header;
    color: red;
    justify-self: center;
}

.game1 {
    grid-area: game1
}

.game2 {
    grid-area: game2
}

.game3 {
    grid-area: game3
}

.game4 {
    grid-area: game4
}

.game1, .game2, .game3, .game4 {
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}


.gameshelf {
    display: grid;
    grid-area: sidebar;
    border: 1px solid white;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas:
    "header"
    "playing"
    "played"
    "wishlist";
}

.playing {
    grid-area: playing
}

.played {
    grid-area: played;
}

.wishlist {
    grid-area: wishlist
}

.playing, .played, .wishlist {
    border: 1px solid white;
}

.main__game {
    margin: 15px;
    color: white;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.main__game img {
    border-radius: 5px;
}

.main__game:hover {
    transform: scale(1.05);
}
