@import 'fonts.css';

.reviews__text {
  margin: auto;
  width: 500px;
}

.review-title {
  text-align: center;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
}

textarea {
  display: block;
  width: 100%;
  height: 6rem;
  resize: none;
  font-family: SC;
  background-color: black;
  color: white;
}

button {
  font-family: ROG;
  background-color: rgb(105, 105, 105);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.reviews__list {
  color: whitesmoke;
  font-family: SC;
  width: 500px;
  margin: 0 auto 100px auto;
}

.review-name {
  font-family: ROG;
}

.reviews__text {
  color: white;
}

.review {
  margin-top: 50px;
  padding: 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

#review-user, #form-user {
  font-family: ROG;
  letter-spacing: 0.2rem;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.review button {
  margin-right: 10px;
}
